@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Roboto:wght@300;400&display=swap');

// container Width  
$container_width : 1280px;

:root{
  --black : #1d1d1b;
  --white : #ffffff;
  --offWhite : #e8e8e8;
  --background : #0F1624;
  --purple : #945DD6;
  --orange: #F46737;
  --blue: #13ADC7;

  --lightMode-black : #fffffd;
  --lightMode-white : #1b1b1b;
  --lightMode-border : #d8d8d4;
  --lightMode-offWhite : #747474;
}

body.light-mode{
  --black : var(--lightMode-black);
  --white: var(--lightMode-white);
  --offWhite: var(--lightMode-offWhite);
  --background: var(--lightMode-background);
}

// Fonts
$font-family: 'Roboto', sans-serif;
$logo-font: 'Dancing Script', cursive;

// font-weights 
$light : 300;
$regular : 400;
$medium : 500;
$semiBold : 600;
$bold : 700;

// Sizes
$header: 30px;
$large: 28px;
$big : 24px;
$medium : 18px;
$normal: 16px;
$small: 15px;


/* MIXIN : MEDIA QUERIES
 *    EX : @include mq( 'lap-and-up' ) { CODE }
 * ------------------------------------------------------------------------- */
$phone: "screen and (max-width: 767px)";
$phone-tablet-portrait: "screen and (max-width: 959px)";
$tablet: "screen and (min-width: 768px) and (max-width: 1024px)";
$phone-and-tablet: "screen and (max-width: 1024px)";
$tablet-and-up: "screen and (min-width: 768px)";
$tablet-portrait: "screen and (min-width: 768px) and (max-width: 959px)";
$tablet-landscape: "screen and (min-width: 960px) and (max-width: 1024px)";
$lap: "screen and (min-width: 1025px) and (max-width: 1219px)";
$lap-and-up: "screen and (min-width: 1025px)";
$desk-and-up: "screen and (min-width: 1220px)";
$lap-and-desk: "screen and (min-width: 1025px) and (max-width: 1679px)";
$wide-and-up: "screen and (min-width: 1680px)";
$retina: "(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi)";
$small-screen: "screen and (max-width: 375px)";
$iphone4: "screen and (max-width: 320px)";

@mixin mq($alias) {
  @if $alias=="phone" {
    @media #{$phone} {
      @content;
    }
  }
  @if $alias=="phone-tablet-portrait" {
    @media #{$phone-tablet-portrait} {
      @content;
    }
  }


  @else if $alias=="tablet" {
    @media #{$tablet} {
      @content;
    }
  }

  @else if $alias=="phone-and-tablet" {
    @media #{$phone-and-tablet} {
      @content;
    }
  }

  @else if $alias=="tablet-and-up" {
    @media #{$tablet-and-up} {
      @content;
    }
  }

  @else if $alias=="tablet-portrait" {
    @media #{$tablet-portrait} {
      @content;
    }
  }

  @else if $alias=="tablet-landscape" {
    @media #{$tablet-landscape} {
      @content;
    }
  }

  @else if $alias=="lap" {
    @media #{$lap} {
      @content;
    }
  }

  @else if $alias=="lap-and-up" {
    @media #{$lap-and-up} {
      @content;
    }
  }

  @else if $alias=="desk-and-up" {
    @media #{$desk-and-up} {
      @content;
    }
  }

  @else if $alias=="lap-and-desk" {
    @media #{$lap-and-desk} {
      @content;
    }
  }

  @else if $alias=="wide-and-up" {
    @media #{$wide-and-up} {
      @content;
    }
  }

  @else if $alias=="retina" {
    @media #{$retina} {
      @content;
    }
  }

  @if $alias=="small-screen" {
    @media #{$small-screen} {
      @content;
    }
  }
}