.heroWrapper {
  max-width: $container_width;
  padding: 20px 0;
  margin: 0 auto;

  .helloImage {
    height: 50px;
    width: 50px;
    object-fit: contain;
  }

  .sectionTitle {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    max-width: 100%;
    margin: 25px 0;
  }

  .sectionText {
    font-size: 16px;
    line-height: 30px;
    max-width: 100%;
    margin-bottom: 16px;
  }
}
.bgAnimation {
  position: relative;

  .avatar {
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
    @include mq('phone') {
      left: 50%;
      top: 50%;
   }
  }

  .BgAnimation__svg {
    height:500px;
    width: 100%;

    @include mq('phone') {
      width: 100%;
      height: unset;
   }
  }
}
// #heroParent {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
